<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text = "${#authentication.getPrincipal().getUsername()}">
  home
</h1>
<h1 th:text = "${username}">
   username
</h1>
<div th:each="stat:${stats}">
    <h1 th:text="${stat.name}"></h1>
    <h1 th:text="${stat.user.getUsername()}"></h1>
    <h1 th:text="${stat.statmentStatus}"></h1>
    <a th:href="@{/edit/{id}(id=${stat.id})}"> edit</a>
</div>
<a th:href="@{/add}">add</a>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}"> admin panel</a>
</body>
</html>